<div class="search-bar">
    <input type="text" placeholder="Type to search users" (input)="searchUsers($event)">
</div>

@if (filteredUsers$ | async; as users) {

    @if(!users.length) {
        <p>No matching user</p>
    }

    @else {
        <div class="user-grid">
            @for (user of users; track user.id) {
                <app-user-card [user]="user" (click)="goToUser(user.id)"></app-user-card>
            }
        </div>

        <div class="pagination">
            <app-pagination [userCount]="userCount" (selectedPage)="setPage($event)" (previousPage)="previousPage()" (nextPage)="nextPage()"></app-pagination>
        </div>
    }
}

@else {
    <p>Loading users...</p>
}