<input type="text" placeholder="Type to search users" (input)="searchUsers($event)">

@if (filteredUsers$ | async; as users) {

    @if(!users.length) {
        <p>No matching user</p>
    }

    <ul>
        @for (user of users; track user.id) {
            <li (click)="goToUser(user.id)">{{user.firstName}} {{user.lastName}}</li>
        }
    </ul>
    
    <app-pagination [userCount]="userCount" (selectedPage)="setPage($event)" (previousPage)="previousPage()" (nextPage)="nextPage()"></app-pagination>
}

@else {
    <p>Loading users...</p>
}